* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: steelblue;
    padding: 5px;
    display: flex;
}
nav a {
    color: white;
    display: block;
    padding: 10px;
}
h1 {
    color: steelblue;
    padding: 10px;
}
main img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}
p {
    padding: 10px;
}
main {
    max-width: 840px;
}
aside {
    width: 20rem;
    position: relative;
}
aside img {
    width: 275px;
    height: auto;
}
aside h2 {
    position: absolute;
    color: #eee;
}
footer {
    margin-top: 15px;
    border-top: 1px #000;
    text-align: center;
}
/* Class Selectors */
.box {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: rgb(215, 208, 194);
    color: #333;
}